ul{
    list-style-type: none;
  }
  #postImg{
    height: 75px;
    width: 100px;
  }
  #senderPic{
    height: 25px;
    width: 25px;
  }
  #unameHelp{
    display: none;
  }
  #psHelp{
    display: none;
  }
  #pmHelp{
    display: none;
  }
  #ethHelp{
    display: none;
  }
  #unwHelp{
    display: none;
  }
  #e2Help{
    display: none;
  }
  #eHelp{
    display: none;
  }
  .margin-top{
    margin-top: 90px;
  }
  #detailImg{
    height: 640;
    width: 320;
  }